<div class="crop"
     [style.width.px]="starWidth"
     [title]="rating"
     (click) = "onClickk()">
  <div style="width: 75px ; color: aqua;" >
    <span class="fa fa-star"></span>
    <span class="fa fa-star"></span>
    <span class="fa fa-star"></span>
    <span class="fa fa-star"></span>
    <span class="fa fa-star"></span>
  </div>
</div>